body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #0056b3;
}

button:hover:disabled {
    background-color: #5c1111;
}

#weather-result {
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#weather-result.fade-in {
    opacity: 1;
}

.spinner {
    display: none;
    margin: 20px auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #007BFF;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 32s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #E45A84;
    top: 32%;
    left: 58%;
    animation-duration: 149s;
    animation-delay: -169s;
    transform-origin: 15vw 17vh;
    box-shadow: -40vmin 0 5.60143751202583vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 15%;
    left: 61%;
    animation-duration: 137s;
    animation-delay: -54s;
    transform-origin: 11vw -17vh;
    box-shadow: 40vmin 0 5.177325814814261vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 21%;
    left: 47%;
    animation-duration: 152s;
    animation-delay: -122s;
    transform-origin: 16vw 2vh;
    box-shadow: -40vmin 0 5.605066284058204vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 92%;
    left: 61%;
    animation-duration: 112s;
    animation-delay: -36s;
    transform-origin: 18vw 5vh;
    box-shadow: 40vmin 0 5.602515439611533vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 57%;
    left: 71%;
    animation-duration: 181s;
    animation-delay: -91s;
    transform-origin: 10vw -16vh;
    box-shadow: 40vmin 0 5.173692072295825vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 59%;
    left: 100%;
    animation-duration: 112s;
    animation-delay: -97s;
    transform-origin: 2vw 8vh;
    box-shadow: 40vmin 0 5.185450196802743vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 16%;
    left: 27%;
    animation-duration: 19s;
    animation-delay: -107s;
    transform-origin: 9vw -18vh;
    box-shadow: -40vmin 0 5.877237726527869vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 76%;
    left: 16%;
    animation-duration: 112s;
    animation-delay: -5s;
    transform-origin: -10vw 19vh;
    box-shadow: 40vmin 0 5.871367849321389vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 70%;
    left: 90%;
    animation-duration: 153s;
    animation-delay: -173s;
    transform-origin: -23vw 15vh;
    box-shadow: 40vmin 0 5.576908274932904vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 3%;
    left: 21%;
    animation-duration: 55s;
    animation-delay: -110s;
    transform-origin: 4vw -13vh;
    box-shadow: -40vmin 0 5.691768182925349vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 40%;
    left: 50%;
    animation-duration: 146s;
    animation-delay: -137s;
    transform-origin: 7vw 13vh;
    box-shadow: 40vmin 0 5.351899865612798vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 67%;
    left: 56%;
    animation-duration: 71s;
    animation-delay: -164s;
    transform-origin: -18vw -17vh;
    box-shadow: 40vmin 0 5.213171744511499vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 58%;
    left: 61%;
    animation-duration: 65s;
    animation-delay: -95s;
    transform-origin: 5vw 4vh;
    box-shadow: 40vmin 0 5.8298240738646605vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 89%;
    left: 21%;
    animation-duration: 85s;
    animation-delay: -89s;
    transform-origin: 7vw 5vh;
    box-shadow: -40vmin 0 5.454959451636429vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 13%;
    left: 11%;
    animation-duration: 107s;
    animation-delay: -77s;
    transform-origin: -8vw 7vh;
    box-shadow: 40vmin 0 5.028892611216911vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 82%;
    left: 37%;
    animation-duration: 44s;
    animation-delay: -170s;
    transform-origin: -12vw 24vh;
    box-shadow: 40vmin 0 5.701783897852073vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 19%;
    left: 1%;
    animation-duration: 26s;
    animation-delay: -66s;
    transform-origin: -9vw 22vh;
    box-shadow: -40vmin 0 5.529044765569947vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 43%;
    left: 83%;
    animation-duration: 106s;
    animation-delay: -82s;
    transform-origin: 12vw -1vh;
    box-shadow: 40vmin 0 5.722569283638051vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 85%;
    left: 53%;
    animation-duration: 9s;
    animation-delay: -40s;
    transform-origin: 0vw -14vh;
    box-shadow: 40vmin 0 5.51251516413104vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 27%;
    left: 19%;
    animation-duration: 80s;
    animation-delay: -84s;
    transform-origin: -10vw 12vh;
    box-shadow: 40vmin 0 5.422380280626301vmin currentColor;
}
